*{
    box-sizing: border-box;
}
.keyboard{
    width: 780px;
    height: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #888888;
    border-radius: 10px;
    border: 3px solid #222222;
}
.keyboard_rows{
    width: 760px;
    height: 40px;
    margin: 4px 4px 4px 4px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   // border:  1px solid red;
}
.key{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #444444;
    p{
        color: white;
        font-weight: 700;
    }
    .en{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin:0;
        padding: 0;
        top:0;
        left:0;
        text-align: center;
        
    }
    .ru{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin:0;
        padding: 0;
        top:0;
        left:0;
        text-align: center;
      }
      .disableRu{
        display: none !important;
      }
      .disableEn{
        display: none !important;
      }
      &:hover{
          background-color: rgb(126, 248, 126);
          transition: 0.25s ease-out;
      }
}
.longButton{
    width: 80px !important;
}
.space{
    width: 385px !important;
    height: 40px

}