* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#textarea {
  width: 780px;
  height: 400px;
  margin-bottom: 20px;
}

.pushed {
  background-color: #24a724 !important;
  border-radius: 40% !important;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

.keyboard {
  width: 780px;
  height: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #888888;
  border-radius: 10px;
  border: 3px solid #222222;
}

.keyboard_rows {
  width: 760px;
  height: 40px;
  margin: 4px 4px 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.key {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #444444;
}

.key p {
  color: white;
  font-weight: 700;
}

.key .en {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
}

.key .ru {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
}

.key .disableRu {
  display: none !important;
}

.key .disableEn {
  display: none !important;
}

.key:hover {
  background-color: #7ef87e;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.longButton {
  width: 80px !important;
}

.space {
  width: 385px !important;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */